.expressive-code-overrides {
  .expressive-code {
    @apply mt-6;

    code {
      @apply font-mono;
    }

    .gutter .ln {
      @apply pr-0;
    }

    .ec-line {
      @apply py-0.5 nth-[n+16]:last:pb-4; /* add padding to bottom if more than 16 elements */

      &.mark {
        @apply bg-neutral-200/50 dark:bg-zinc-700/50;
      }

      .code {
        @apply border-none pl-6;
      }
    }

    .frame {
      @apply shadow-none;

      pre {
        @apply max-h-[450px] overflow-y-auto rounded-xl border-0 bg-neutral-100 dark:bg-zinc-900;
      }

      &.has-title:not(.is-terminal) {
        .header {
          @apply rounded-t-xl border-b-1 border-neutral-200/50 bg-none bg-neutral-100 dark:border-zinc-800/50 dark:bg-zinc-900;

          &:before {
            @apply border-0;
          }
        }

        .title {
          @apply border-none bg-transparent py-2 text-[0.9rem] font-mono text-foreground after:border-none dark:text-zinc-400;
        }
      }
    }

    .copy button {
      @apply bg-transparent size-7;

      & div {
        @apply bg-transparent;
      }

      &::before {
        @apply border-0 opacity-0;
      }

      &::after {
        @apply m-auto size-4;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-clipboard'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'%3E%3C/rect%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'%3E%3C/path%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-clipboard'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'%3E%3C/rect%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'%3E%3C/path%3E%3C/svg%3E");
      }
    }
  }

  [role="tabpanel"] .expressive-code {
    @apply mt-0;
  }

  :not([data-slot="tabs-list"])[role="tablist"] {
    @apply inline-flex gap-3 rounded-t-xl border-b-1 border-neutral-200/50 bg-neutral-100 px-3 pt-2.5 text-zinc-400 dark:border-zinc-800/50 dark:bg-zinc-900;
  }

  :not([data-slot="tabs-trigger"])[role="tab"] {
    @apply border-b-1 border-transparent p-0 pb-1.5 font-mono data-[selected=]:border-neutral-400 data-[selected=]:text-foreground data-[selected=]:dark:border-zinc-400;
  }

  :not([data-slot="tabs-content"])[role="tabpanel"] {
    @apply rounded-b-xl bg-neutral-100 dark:bg-zinc-900;
  }
}
